{{yield}}
<!-- app/components/todo-item.hbs -->
<div>
  <h3>{{@todo.title}}</h3>
  <p>{{@todo.description}}</p>
</div>
<div>
  <button type="button" {{on "click" this.deleteTodo}}>Delete</button>
</div>
